*{
  margin: 0;padding: 0;
}
header{
  background: url(./images/mount.png) no-repeat;
  background-size: 100% 100%;
}
header .mask{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(20, 20, 20, .65);
}
.content{
  width: 970px;
  margin: 208px auto 0;
}
.title{
  text-align: center;
  font-size: 62px;
  font-family: Montserrat-ExtraLight;
  line-height: 72px;
  font-weight:200;
  color:rgba(255,255,255,1);
}
.hello .text{
  width: 766px;
  margin: 86px auto 0;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color:rgba(255,255,255,1);
  font-family: Montserrat-ExtraLight;
  font-weight: 200;
  opacity: 0.7;
}
/* form */
.create{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2px;
  margin-top: 104px;
  padding: 61px 100px 52px;
}
.create .title{
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}
.create .profile{
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, .3);
  font-weight: 300;
  margin: 19px auto 45px;
}
.create .input input{
  outline: 0;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2px;
  width: 292px;
  height: 50px;
  color: #fff;
  text-indent: 22px;
  background-color: rgba(0, 0, 0, 0);
}
.create .input input[type="button"]{
  width: 125px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  text-indent: 0;
}
.create .input{
  display: flex;
  justify-content: space-between;
}