* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  padding: 15px 30px 28px 30px;
  align-items: center;
}
.header h2 {
  width: 137px;
  height: 37px;
  margin-right: 20px;
}
.header input {
  font-size: 16px;
  flex: 1;
  height: 56px;
  outline: none;
  border: none;
  border: 1px solid red;
  border-radius: 4px;
}
.header button {
  font-size: 32px;
  width: 73px;
  height: 41px;
  margin-left: 19px;
}