<html>
<head>
    <style>
    #myid{
      width:500px;
      display: flex;
      background-color: rgb(0, 0, 255);
      align-items: center;
      justify-content: center;
      height: 500px;
    }
    .box1 {
      width: 200px;
      height: 100px;
      background-color: rgb(255, 0, 0);
    }
    .box2 {
      width: 200px;
      height: 200px;
      background-color: rgb(0, 255, 0);
    }
    </style>
</head>
<body>
    <div id="myid">
      <div class="box1"></div>
      <div class="box2"></div>
    </div>
</body>
</html>