.progress-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgba(0,0,0,0.3);
}
.progress-bar .progress,
.progress-bar .progress-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.progress-bar .progress {
  z-index: 2;
  background-color: red;
}
.progress-bar .progress-button {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: red;
  z-index: 3;
  top: -6px;
  margin-left: -5px;
}